qotd/src/main/app/get-quote-of-the-day.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:file="http://www.mulesoft.org/schema/mule/file" xmlns:metadata="http://www.mulesoft.org/schema/mule/metadata" xmlns:tracking="http://www.mulesoft.org/schema/mule/ee/tracking" xmlns:http="http://www.mulesoft.org/schema/mule/http"
	xmlns:dw="http://www.mulesoft.org/schema/mule/ee/dw"
	xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:doc="http://www.mulesoft.org/schema/mule/documentation"
	xmlns:spring="http://www.springframework.org/schema/beans" 
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd
http://www.mulesoft.org/schema/mule/ee/dw http://www.mulesoft.org/schema/mule/ee/dw/current/dw.xsd
http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-current.xsd
http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/ee/tracking http://www.mulesoft.org/schema/mule/ee/tracking/current/mule-tracking-ee.xsd
http://www.mulesoft.org/schema/mule/file http://www.mulesoft.org/schema/mule/file/current/mule-file.xsd">
    <flow name="get-game-of_thrones-quote-flow">        
        <http:request config-ref="HTTP_quotes_from_got_req_config" path="/" method="GET" doc:name="Get Quote from GOT via HTTP Rest"/>
        <dw:transform-message doc:name="Transform Message" metadata:id="c0cffca8-c69d-46d2-8099-faa96ebaf90d">
            <dw:input-payload mimeType="application/json"/>
            <dw:set-payload><![CDATA[%dw 1.0
%output application/json
---
{
	quote: payload.quote,
	author: payload.character
}]]></dw:set-payload>
        </dw:transform-message>
    </flow>
    <flow name="write_to_file_flow">
        <dw:transform-message doc:name="Transform Message" metadata:id="fa7ea8ad-6bba-405e-9f42-a178623a51ad">
            <dw:input-payload mimeType="application/json"/>
            <dw:set-payload><![CDATA[%dw 1.0
%output application/csv separator = " ", header=false, quoteValues=true
---
[{
	column_0: payload.quote,
	column_1: payload.author,
	column_2: now as :string {format: "MMddyyyy"}
}]]]></dw:set-payload>
        </dw:transform-message>
        <file:outbound-endpoint path="/Users/josephgonzales/Documents" outputPattern="#['QOTD_'+server.dateTime.format('MMddyy')].txt" responseTimeout="10000" doc:name="File"/>
    </flow>
</mule>
