qotd/src/main/app/qotd_modules.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:json="http://www.mulesoft.org/schema/mule/json"
	xmlns:context="http://www.springframework.org/schema/context"
	xmlns:file="http://www.mulesoft.org/schema/mule/file" xmlns:metadata="http://www.mulesoft.org/schema/mule/metadata"
	xmlns:tracking="http://www.mulesoft.org/schema/mule/ee/tracking"
	xmlns:http="http://www.mulesoft.org/schema/mule/http" xmlns:dw="http://www.mulesoft.org/schema/mule/ee/dw"
	xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:doc="http://www.mulesoft.org/schema/mule/documentation"
	xmlns:spring="http://www.springframework.org/schema/beans" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd
http://www.mulesoft.org/schema/mule/ee/dw http://www.mulesoft.org/schema/mule/ee/dw/current/dw.xsd
http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-current.xsd
http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/ee/tracking http://www.mulesoft.org/schema/mule/ee/tracking/current/mule-tracking-ee.xsd
http://www.mulesoft.org/schema/mule/file http://www.mulesoft.org/schema/mule/file/current/mule-file.xsd
http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context-current.xsd
http://www.mulesoft.org/schema/mule/json http://www.mulesoft.org/schema/mule/json/current/mule-json.xsd">

	<flow name="get-game-of_thrones-quote-flow">
		<http:request config-ref="HTTP_quotes_from_got_req_config"
			path="/" method="GET" doc:name="Get Quote from GOT via HTTP Rest" />
		<dw:transform-message doc:name="Transform Message"
			metadata:id="c0cffca8-c69d-46d2-8099-faa96ebaf90d">
			<dw:input-payload mimeType="application/json" />
			<dw:set-payload><![CDATA[%dw 1.0
%output application/json
---
{
	quote: payload.quote,
	author: payload.character
}]]></dw:set-payload>
			<dw:set-variable variableName="var_quote"><![CDATA[%dw 1.0
%output application/java
---
payload.quote]]></dw:set-variable>
			<dw:set-variable variableName="var_author"><![CDATA[%dw 1.0
%output application/java
---
payload.character]]></dw:set-variable>
		</dw:transform-message>
	</flow>
	<flow name="write_to_file_flow">
		<dw:transform-message doc:name="Transform Message"
			metadata:id="56ad83d5-556a-418d-8389-802f9d78f902">
			<dw:set-payload><![CDATA[%dw 1.0
%output application/csv separator = " ", header=false, quoteValues=true
---
[{
	column_0: flowVars.var_quote,
	column_1: flowVars.var_author,
	column_2: now as :string {format: "MMddyyyy"}
}]]]></dw:set-payload>
		</dw:transform-message>
		<file:outbound-endpoint path="/Users/josephgonzales/Documents"
			outputPattern="#['QOTD_'+server.dateTime.format('MMddyy')].txt"
			responseTimeout="10000" doc:name="File" />
	</flow>
	<flow name="translate_quote_flow">
        <flow-ref name="get_languages_flow" doc:name="get_languages_flow"/>
        <set-variable variableName="var_compressList" value="#[[]]" doc:name="var_compressList"/>
		<foreach collection="#[payload]" rootMessageVariableName="RootMessage"
			doc:name="For Each language">
            <flow-ref name="translate_flow" doc:name="translate_flow"/>
			<flow-ref name="compress_collect_flow" doc:name="compress_collect" />
		</foreach>
        <dw:transform-message doc:name="Transform Message">
            <dw:set-payload><![CDATA[%dw 1.0
%output application/json
---
flowVars.var_compressList map $]]></dw:set-payload>
        </dw:transform-message>
	</flow>

	<sub-flow name="compress_collect_flow">
        <dw:transform-message doc:name="Transform Message" metadata:id="071ca266-470f-4844-b0a8-82c66222f495">
            <dw:input-payload mimeType="application/json"/>
            <dw:set-payload><![CDATA[%dw 1.0
%output application/java
---
{
	compress: payload.text[0] replace " " with "",
	indexes: payload.text[0] find " "
}]]></dw:set-payload>
        </dw:transform-message>
		<logger
			message=" compressed quotes: #[payload.compress]     indexes of whitespace: #[payload.indexes]"
			level="INFO" doc:name="Logger" />
		<expression-component doc:name="collect compress"><![CDATA[flowVars.var_compressList.add(payload)]]></expression-component>
	</sub-flow>
</mule>
